{{#each ideas as |idea|}}

   <div data-id="{{idea.id}}" class="thumbnail column size-1of3 view overlay hm-red-light">
     <div class="panel-body view overlay hm-red-light">{{idea.content}}
     <div class="caption">
       <div class="action-container">
          <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">mode_edit</i>
          </button>
          <button data-id="{{idea.id}}" class="delete-idea-button mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">delete</i>
          </button>
      </div>
    </div>
    </div>
  </div>


{{/each}}
