{{#each ideas as |idea|}}

   <div data-id="{{idea.id}}" class="panel panel-primary column size-1of3">
     <div class="panel-heading">Bright Idea {{idea.id}}</div>
     <div class="panel-body">{{idea.content}}</div>
     <button class = "button" type="button">Remove</button>
   </div>

{{/each}}
