// Commenting out Bootstrap to avoid styling conflicts with Material Design Light

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import '~material-design-lite/src/material-design-lite.scss';

.mdl-button {
  background-color: white;
  opacity: .6;
  color: black;
  margin: 2px;
}

#action-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  height: 100px;
  width: 40px;
}

#sign-in-form-button {
  color: #00796b;
  width: 47%;
}

#sign-up-form-button {
  color: #ff7043;
  width: 47%;
}

.modal-content {
  background-color: #e0f2f1;
}


.welcome-modal-button-container {
  text-align: center;
}

.mdl-dialog__actions {
  display: inline;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.action-container {
  text-align: center;
}
