// Commenting out Bootstrap to avoid styling conflicts with Material Design Light

// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

.mdl-button {
  background-color: white;
  opacity: .6;
  color: black;
}

#sign-in-form-button {
  color: #00796b;
  width: 49%;
}

#sign-up-form-button {
  color: #ff7043;
  width: 49%;
}

#landing-modal {
  background-color: #e0f2f1;
}

.welcome-modal-button-container {
  text-align: center;
}
